* { margin: 0; padding: 0; -webkit-text-size-adjust: none; }

html, body { height: 100%; }

body { font-family: Calibri, Arial, Tahoma, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.2; }

a img, fieldset { border: none; }

a { color: #2c2c2c; text-decoration: none; }

p { line-height: 1.2; }

li { list-style: none; }

textarea, button, select, input { border: none; outline: none; font-family: Cambria, Colibri, Arial, Tahoma, sans-serif; }

button { line-height: 1; cursor: pointer; }
button::-moz-focus-inner { padding: 0; border: 0; }

table { border-spacing: 0; border-collapse: collapse; }

.page { min-width: 960px; overflow-x: hidden; min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -205px; }

.container { position: relative; width: 960px; margin: 64px auto 0; z-index: 10; }

.push { height: 205px; clear: both; }

.h2 { font: 31px "Philosopher", sans-serif; color: #526871; }

.header { position: relative; border-bottom: 1px solid #ced9e0; -webkit-box-shadow: 0 1px 10px rgba(150, 173, 188, 0.35); -moz-box-shadow: 0 1px 10px rgba(150, 173, 188, 0.35); box-shadow: 0 1px 10px rgba(150, 173, 188, 0.35); background: url(../img/header-bg.png) 50% 0% no-repeat; }
.header:before { content: ""; position: absolute; bottom: -3px; width: 100%; height: 1px; background: #ced9e0; }
.header:after { content: ""; position: absolute; bottom: -5px; width: 100%; height: 1px; background: #ced9e0; }

.cat { position: absolute; top: 50px; right: -245px; }

.header__topper { background: #2e3847; height: 35px; padding-top: 5px; -moz-box-sizing: border-box; box-sizing: border-box; }

.header__inner, .footer__inner { position: relative; width: 960px; margin: 0 auto; }
.header__inner:before, .header__inner:after, .footer__inner:before, .footer__inner:after { content: ""; display: table; }
.header__inner:after, .footer__inner:after { clear: both; }

.nav { float: left; }
.nav ul:before, .nav ul:after { content: ""; display: table; }
.nav ul:after { clear: both; }

.nav__item { float: left; position: relative; height: 30px; }
.nav__item a { display: block; height: 30px; padding: 6px 20px 0; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 12px; color: white; text-transform: uppercase; }
.nav__item:before { content: ""; position: absolute; top: 8px; left: 0px; background: url('../img/icons-s64f6561d64.png') 0 -369px no-repeat; width: 3px; height: 6px; }
.nav__item:first-child:before { display: none; }
.nav__item:hover a { color: #86d3e9; }

.nav__item.is-active { background: white; -webkit-box-shadow: 3px 0 0 white; -moz-box-shadow: 3px 0 0 white; box-shadow: 3px 0 0 white; }
.nav__item.is-active a { color: #526871; padding: 6px 17px 0 20px; }
.nav__item.is-active a span { position: relative; }
.nav__item.is-active a span:after { content: ""; position: absolute; left: 0; right: 0; bottom: -5px; height: 2px; background: url(../img/menu-border-img.png) 0 0 repeat-x; }

.login { float: right; height: 30px; padding-top: 4px; -moz-box-sizing: border-box; box-sizing: border-box; }
.login a { display: inline-block; position: relative; color: white; }
.login a:before { content: ""; position: absolute; top: 0; left: -20px; background: url('../img/icons-s64f6561d64.png') 0 -316px no-repeat; width: 12px; height: 13px; }
.login a:hover { color: #86d3e9; }

.header__content { position: relative; z-index: 2; margin-bottom: -28px; }

.logo { float: left; margin: 40px 0 24px 15px; width: 220px; }
.logo a { display: block; -moz-box-sizing: border-box; box-sizing: border-box; padding-left: 36px; position: relative; }
.logo a:before { content: ""; position: absolute; top: 3px; left: -3px; background: url('../img/icons-s64f6561d64.png') 0 -115px no-repeat; width: 30px; height: 30px; }

.logo__name { font: 34px "Philosopher", sans-serif; color: #526871; }
.logo__name span { color: #ea1c1c; }

.logo__descr { text-transform: uppercase; font-size: 11px; font-weight: normal; color: #526871; }

.logo_footer a:before { background: url('../img/icons-s64f6561d64.png') 0 -197px no-repeat; width: 24px; height: 25px; }
.logo_footer .logo__name { font-size: 27px; color: white; }
.logo_footer .logo__name span { color: white; }
.logo_footer .logo__descr { font-size: 10px; color: white; margin-top: 10px; padding: 0 12px 0 0px; }

.header__banner { float: right; margin-top: 32px; }

.sub-nav { clear: both; border: 1px solid #c6d6db; -moz-box-sizing: border-box; box-sizing: border-box; background: white url(../img/sub-nav-bg.png) 98% 0 no-repeat; }
.sub-nav ul:before, .sub-nav ul:after { content: ""; display: table; }
.sub-nav ul:after { clear: both; }

.sub-nav__item { position: relative; float: left; width: 139px; -moz-box-sizing: border-box; box-sizing: border-box; }
.sub-nav__item a { position: relative; display: block; height: 53px; line-height: 53px; text-align: center; font-size: 14px; color: #526871; text-transform: uppercase; z-index: 2; }
.sub-nav__item:hover { border-bottom: 5px solid #c6d6db; }
.sub-nav__item:hover a { height: 48px; }
.sub-nav__item .fon1 { display: none; position: absolute; top: 0; bottom: 50%; left: 0; right: 50%; background: e53535; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e83838), color-stop(100%, #e13131)); background: -webkit-linear-gradient(top, #e83838 0%, #e13131 100%); background: -moz-linear-gradient(top, #e83838 0%, #e13131 100%); background: -o-linear-gradient(top, #e83838 0%, #e13131 100%); background: linear-gradient(top, #e83838 0%, #e13131 100%); z-index: 1; }
.sub-nav__item .fon1:after { content: ""; position: absolute; top: 100%; left: 0; right: 0; height: 26px; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e13131), color-stop(60%, #d02222), color-stop(100%, #da2b2b)); background: -webkit-linear-gradient(top, #e13131 0%, #d02222 60%, #da2b2b 100%); background: -moz-linear-gradient(top, #e13131 0%, #d02222 60%, #da2b2b 100%); background: -o-linear-gradient(top, #e13131 0%, #d02222 60%, #da2b2b 100%); background: linear-gradient(top, #e13131 0%, #d02222 60%, #da2b2b 100%); }
.sub-nav__item .fon2 { display: none; position: absolute; top: 0; bottom: 50%; right: 0; left: 50%; background: e53535; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b60b0b), color-stop(100%, #bf1313)); background: -webkit-linear-gradient(top, #b60b0b 0%, #bf1313 100%); background: -moz-linear-gradient(top, #b60b0b 0%, #bf1313 100%); background: -o-linear-gradient(top, #b60b0b 0%, #bf1313 100%); background: linear-gradient(top, #b60b0b 0%, #bf1313 100%); z-index: 1; }
.sub-nav__item .fon2:after { content: ""; position: absolute; top: 100%; right: 0; left: 0; height: 26px; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bf1313), color-stop(60%, #d02222), color-stop(100%, #da2b2b)); background: -webkit-linear-gradient(top, #bf1313 0%, #d02222 60%, #da2b2b 100%); background: -moz-linear-gradient(top, #bf1313 0%, #d02222 60%, #da2b2b 100%); background: -o-linear-gradient(top, #bf1313 0%, #d02222 60%, #da2b2b 100%); background: linear-gradient(top, #bf1313 0%, #d02222 60%, #da2b2b 100%); }

.sub-nav__item.is-active a { color: white; }
.sub-nav__item.is-active .fon1, .sub-nav__item.is-active .fon2 { display: block; }
.sub-nav__item.is-active:after { content: ""; position: absolute; bottom: -3px; left: 0; right: 0; height: 3px; background: url(../img/triangle-red-small.png) 0 0 repeat-x; }

.footer { position: relative; height: 205px; background: #737a84 url(../img/footer-bg.png) 45% 0 no-repeat; z-index: 10; }

.footer__content:before, .footer__content:after { content: ""; display: table; }
.footer__content:after { clear: both; }

.footer__right { float: right; padding-top: 32px; }

.footer-nav { margin-bottom: 40px; }
.footer-nav ul:before, .footer-nav ul:after { content: ""; display: table; }
.footer-nav ul:after { clear: both; }
.footer-nav ul li { float: left; margin-left: 24px; }
.footer-nav ul li a { color: white; text-transform: uppercase; }
.footer-nav ul li a:hover { color: #86d3e9; }

.footer__ne:before, .footer__ne:after { content: ""; display: table; }
.footer__ne:after { clear: both; }

.footer__socials { float: right; margin-left: 24px; }
.footer__socials:before, .footer__socials:after { content: ""; display: table; }
.footer__socials:after { clear: both; }
.footer__socials li { float: left; margin-left: 8px; }

.vk { display: block; background: url('../img/icons-s64f6561d64.png') 0 -232px no-repeat; width: 32px; height: 32px; }

.f { display: block; background: url('../img/icons-s64f6561d64.png') 0 -274px no-repeat; width: 32px; height: 32px; }

.tw { display: block; background: url('../img/icons-s64f6561d64.png') 0 -155px no-repeat; width: 32px; height: 32px; }

.gp { display: block; background: url('../img/icons-s64f6561d64.png') 0 -73px no-repeat; width: 32px; height: 32px; }

.counter { float: right; }

.footer__bot { margin-top: 32px; }
.footer__bot:before, .footer__bot:after { content: ""; display: table; }
.footer__bot:after { clear: both; }

.copyrights { float: left; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; color: white; font-family: "Arial", sans-serif; font-size: 10px; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7); }

.footer__bot span { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; color: white; font-family: "Arial", sans-serif; font-size: 10px; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7); vertical-align: middle; }
.footer__bot i { display: inline-block; margin-left: 10px; vertical-align: middle; }

.designer { float: right; margin-left: 32px; }

.apostol { background: url('../img/icons-s64f6561d64.png') 0 -40px no-repeat; width: 71px; height: 23px; }

.back-end { float: right; }

.prog { background: url('../img/icons-s64f6561d64.png') 0 0 no-repeat; width: 130px; height: 30px; }

.sidebar-left { float: left; width: 250px; margin-right: 32px; }
.sidebar-left .h2 { margin-bottom: 12px; }

.main { overflow: hidden; }

.sidebar-right { float: right; width: 200px; margin-left: 32px; }

.filter { padding: 12px 15px; margin-bottom: 8px; background: #eef6f8; }

.filter__title { margin-bottom: 24px; line-height: 27px; padding: 0 15px; font-weight: bold; color: #2e3847; text-transform: uppercase; background: white; }

.filter__symbols { width: 216px; }
.filter__symbols td { width: 24px; height: 24px; text-align: center; }
.filter__symbols td a { display: block; height: 24px; font-size: 19px; text-transform: uppercase; color: #0072a1; }
.filter__symbols td a:hover { color: white; background: #e94444; }

.filter__language, .filter__age, .filter__school, .filter__year, .filter__genre { padding-left: 16px; }
.filter__language a, .filter__age a, .filter__school a, .filter__year a, .filter__genre a { font-size: 19px; color: #0072a1; }
.filter__language a:hover, .filter__age a:hover, .filter__school a:hover, .filter__year a:hover, .filter__genre a:hover { color: #d02222; text-decoration: underline; }

.filter__school:before, .filter__school:after { content: ""; display: table; }
.filter__school:after { clear: both; }
.filter__school li { float: left; width: 50%; }

.filter__year { margin-left: -10px; }
.filter__year:before, .filter__year:after { content: ""; display: table; }
.filter__year:after { clear: both; }
.filter__year li { float: left; margin-left: 10px; }

.filter__sub-genre { margin: 8px 0 20px; }
.filter__sub-genre a { font-size: 15px; }

.filer__inner-genre { margin: 0 0 5px 8px; }
.filer__inner-genre a { font-size: 12px; }

.sidebar__alert { font-size: 12px; color: #abaeb2; margin: 20px; padding: 0 24px; }

.authers__topper:before, .authers__topper:after { content: ""; display: table; }
.authers__topper:after { clear: both; }
.authers__topper .h2 { float: left; margin-bottom: 16px; }

.sort-by { float: left; font-size: 0; padding-top: 1px; margin: 9px 0 0 20px; }
.sort-by .sort-by__text { font-size: 12px; color: #abaeb2; line-height: 22px; }
.sort-by a { display: inline-block; height: 20px; line-height: 20px; padding: 0 4px; margin-left: 10px; font-size: 12px; color: #0072a1; vertical-align: top; }
.sort-by a span { line-height: 1; border-bottom: 1px dotted; }
.sort-by a:hover { position: relative; top: 0px; color: #2e3847; margin: -1px -1px -1px 9px; border: 1px solid #c6d6db; }
.sort-by a:hover span { border: none; }
.sort-by a.is-active { position: relative; top: 0px; color: #2e3847; margin: -1px -1px -1px 9px; border: 1px solid #c6d6db; }
.sort-by a.is-active span { border: none; }

.alphabet { clear: both; height: 32px; background: #f7f7ee; -webkit-box-shadow: inset 0 1px 0px #f1f3e2; -moz-box-shadow: inset 0 1px 0px #f1f3e2; box-shadow: inset 0 1px 0px #f1f3e2; }
