* { margin: 0; padding: 0; -webkit-text-size-adjust: none; }

html, body { height: 100%; }

body { min-width: 999px; font-family: Calibri, Arial, Tahoma, sans-serif; font-weight: normal; font-size: 14px; line-height: 1.2; }

a img, fieldset { border: none; }

a { color: #0072a1; text-decoration: none; }
a:hover { color: #d02222; text-decoration: underline; }

p { line-height: 1.2; }

li { list-style: none; }

textarea, button, select, input { border: none; outline: none; font-family: Cambria, Colibri, Arial, Tahoma, sans-serif; }

button { line-height: 1; cursor: pointer; }
button::-moz-focus-inner { padding: 0; border: 0; }

table { border-spacing: 0; border-collapse: collapse; }

.page { overflow-x: hidden; min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -205px; }

.container { position: relative; width: 960px; margin: 64px auto 0; *zoom: 1; }
.container:before, .container:after { content: ""; display: table; }
.container:after { clear: both; }
@media only screen and (max-width: 1177px) { .container { margin: 64px 0 0 100px; } }
@media only screen and (max-width: 1077px) { .container { margin: 64px 0 0 39px; } }

.push { height: 205px; clear: both; }

.h2 { font: 31px "Philosopher", sans-serif; color: #526871; }

.h3 { font-size: 29px; color: #2e3847; font-weight: normal; }

.select-wrap { position: relative; float: right; *zoom: 1; margin-left: 24px; font-size: 0; vertical-align: middle; }
.select-wrap:before, .select-wrap:after { content: ""; display: table; }
.select-wrap:after { clear: both; }
.select-wrap .select__dropdown { border: 1px solid #c6d6db; border-top: 1px solid #ebedee; width: 126px; top: 26px; right: 0; }

.select__title { float: left; color: #abaeb2; margin-right: 9px; font-size: 15px; line-height: 27px; }

.select { position: relative; float: left; width: 128px; height: 27px; -moz-box-sizing: border-box; box-sizing: border-box; -moz-user-select: none; -webkit-user-select: none; user-select: none; border: 1px solid #c6d6db; cursor: pointer; }
.select:after { content: ""; position: absolute; top: 9px; right: 15px; background: url('../img/icons-sda1ba12585.png') 0 -340px no-repeat; width: 9px; height: 6px; }

.select__value { padding: 0 8px; line-height: 30px; color: #2e3847; font-size: 15px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.select__value .select__value-title { line-height: 30px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.select__value .select__value-text { display: none; }

.select__dropdown { position: absolute; top: 30px; right: -2px; width: 128px; background: white; border: 2px solid #c6d6db; border-top: none; }
.select__dropdown li { -moz-box-sizing: border-box; box-sizing: border-box; padding: 5px 10px; color: #2e3847; font-size: 14px; cursor: pointer; }
.select__dropdown li:hover { background: #eef6f8; }

.scroll-top { display: none; position: fixed; top: 0px; bottom: 0px; left: 0px; cursor: pointer; }
.scroll-top:hover .scroll-top__bg { background: #ebf7ff; }

.scroll-top.is-active { display: block; }

.scroll-top__bg { width: 100px; height: 100%; text-align: center; padding-top: 25px; -moz-transition: background 200ms; -o-transition: background 200ms; -webkit-transition: background 200ms; -ms-transition: background 200ms; transition: background 200ms; }
.scroll-top__bg span { display: inline-block; color: #aabfc8; }
@media only screen and (max-width: 1077px) { .scroll-top__bg { width: 39px; } }
.scroll-top__bg .arrow { position: relative; display: block; width: 37px; height: 37px; margin: 0 auto 10px; -moz-box-sizing: border-box; box-sizing: border-box; background: white; border: 1px solid #dddedf; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }
.scroll-top__bg .arrow:after { content: ""; position: absolute; top: 12px; left: 9px; background: url('../img/icons-sda1ba12585.png') 0 -356px no-repeat; width: 17px; height: 9px; }

.scroll-top__inner { width: 100%; height: 100%; }

.search { float: right; display: table; width: 600px; margin: 9px 10px 0 0; font-size: 0; }
.search input { width: 464px; height: 20px; vertical-align: top; padding: 5px 16px; border: 2px solid #c6d6db; font: 15px Calibri, sans-serif; }
.search input.placeholder { color: #c6d6db; }
.search input:-moz-placeholder { color: #c6d6db; }
.search input::-webkit-input-placeholder { color: #c6d6db; }

.btn-search { position: relative; width: 100px; height: 34px; vertical-align: top; padding: 0 20px 0 12px; background: #e94444; font-size: 0; color: white; text-transform: uppercase; font: 12px Calibri, sans-serif; text-shadow: 0 1px 0 #dd2525; -moz-transition: background 300ms; -o-transition: background 300ms; -webkit-transition: background 300ms; -ms-transition: background 300ms; transition: background 300ms; }
.btn-search .ico-search { position: absolute; top: 10px; left: 13px; background: url('../img/icons-sda1ba12585.png') 0 -316px no-repeat; width: 14px; height: 14px; }
.btn-search span { margin-left: 20px; font-size: 12px; line-height: 34px; }
.btn-search:hover { background: #e62d2d; }

.pagination { height: 32px; margin-bottom: 32px; padding: 0 12px; background: #f7f7ee; -webkit-box-shadow: inset 0 1px 0px #f1f3e2; -moz-box-shadow: inset 0 1px 0px #f1f3e2; box-shadow: inset 0 1px 0px #f1f3e2; *zoom: 1; }
.pagination:before, .pagination:after { content: ""; display: table; }
.pagination:after { clear: both; }

.pagination__prev { float: left; line-height: 32px; padding: 0 5px; }
.pagination__prev:hover { background: #737a84; color: white; text-decoration: none; }

.pagination__next { float: right; line-height: 32px; padding: 0 5px; }
.pagination__next:hover { background: #737a84; color: white; text-decoration: none; }

.pagination__pages { *zoom: 1; float: left; height: 32px; margin-left: 60px; }
.pagination__pages:before, .pagination__pages:after { content: ""; display: table; }
.pagination__pages:after { clear: both; }
.pagination__pages li { float: left; line-height: 32px; min-width: 29px; text-align: center; }
.pagination__pages li a { display: block; height: 32px; padding: 0 11px; line-height: 32px; }
.pagination__pages li:hover a { font-weight: bold; background: #737a84; color: white; text-decoration: none; }
.pagination__pages li.is-active a { font-weight: bold; color: white; background: #737a84; }

.pagination__custom-page { float: left; height: 17px; width: 34px; margin: 5px 0 0 10px; padding: 2px 4px; text-align: center; border: 1px solid #c6d6db; font-family: Calibri, Arial, Tahoma, sans-serif; background: white; }

.header { position: relative; height: 189px; border-bottom: 1px solid #ced9e0; -webkit-box-shadow: 0 1px 10px rgba(150, 173, 188, 0.35); -moz-box-shadow: 0 1px 10px rgba(150, 173, 188, 0.35); box-shadow: 0 1px 10px rgba(150, 173, 188, 0.35); z-index: 99; }
.header:before { content: ""; position: absolute; bottom: -3px; left: 0px; right: 0px; width: 100%; height: 1px; background: #ced9e0; }
.header:after { content: ""; position: absolute; bottom: -5px; right: 0px; left: 0px; width: 100%; height: 1px; background: #ced9e0; }

.cat { position: absolute; top: 50px; right: -245px; }

.header__topper { background: #2e3847; height: 35px; padding-top: 5px; -moz-box-sizing: border-box; box-sizing: border-box; }

.header__inner, .footer__inner { position: relative; width: 960px; margin: 0 auto; *zoom: 1; }
.header__inner:before, .header__inner:after, .footer__inner:before, .footer__inner:after { content: ""; display: table; }
.header__inner:after, .footer__inner:after { clear: both; }
@media only screen and (max-width: 1177px) { .header__inner, .footer__inner { margin: 0 0 0 100px; } }
@media only screen and (max-width: 1077px) { .header__inner, .footer__inner { margin: 0 0 0 39px; } }

.footer__inner { height: 205px; background: url(../img/footer-bg.png) 37% 0 no-repeat; }
@media only screen and (max-width: 1177px) { .footer__inner { padding-right: 10px; -moz-box-sizing: border-box; box-sizing: border-box; } }

.nav { float: left; }
.nav ul { *zoom: 1; }
.nav ul:before, .nav ul:after { content: ""; display: table; }
.nav ul:after { clear: both; }

.nav__item { float: left; position: relative; height: 30px; }
.nav__item a { display: block; height: 30px; padding: 6px 20px 0; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 12px; color: white; text-transform: uppercase; background: url(../img/nav-border.png) 0px 9px no-repeat; }
.nav__item a:hover { text-decoration: none; }
.nav__item:first-child a { background: none; }
.nav__item:hover a { color: #86d3e9; }

.nav__item.is-active { position: relative; z-index: 2; background: white; border-right: 3px solid white; margin-right: -3px; }
.nav__item.is-active a { color: #526871; padding: 6px 17px 0 20px; }
.nav__item.is-active a span { position: relative; }
.nav__item.is-active a span:after { content: ""; position: absolute; left: 0; right: 0; bottom: -5px; height: 2px; background: url(../img/menu-border-img.png) 0 0 repeat-x; }

.login { float: right; height: 30px; padding-top: 4px; -moz-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 1177px) { .login { padding-right: 10px; } }
.login a { display: inline-block; position: relative; font-size: 12px; color: white; }
.login a:hover { color: white; }
.login a:before { content: ""; position: absolute; top: 0; left: -20px; background: url('../img/icons-sda1ba12585.png') 0 -375px no-repeat; width: 12px; height: 13px; }

.header__content { position: relative; z-index: 2; margin-bottom: -28px; }
.header__content .header__inner { background: url(../img/header-bg.png) 26% 0% no-repeat; padding-bottom: 13px; }

.logo { float: left; margin: 40px 0 24px 15px; width: 240px; }
.logo a { display: block; -moz-box-sizing: border-box; box-sizing: border-box; padding-left: 36px; position: relative; background: url(../img/logo.png) 0px 3px no-repeat; }
.logo a:hover { text-decoration: none; }

.logo__slovnik { position: absolute; top: -15px; right: 28px; font: 18px "Philosopher", sans-serif; color: #870014; }

.logo__name { font: 34px "Philosopher", sans-serif; color: #526871; letter-spacing: -1px; }
.logo__name span { color: #ea1c1c; }
.logo__name span b { letter-spacing: 0; font-weight: normal; }

.logo__descr { text-transform: uppercase; font-size: 11px; font-weight: normal; color: #526871; }

.logo_footer a:before { background: url('../img/icons-sda1ba12585.png') 0 -197px no-repeat; width: 24px; height: 25px; }
.logo_footer .logo__name { color: white; }
.logo_footer .logo__name span { color: white; }
.logo_footer .logo__descr { color: white; }

.header__banner { float: right; margin-top: 32px; }

.sub-nav { position: relative; top: 5px; clear: both; border: 1px solid #c6d6db; -moz-box-sizing: border-box; box-sizing: border-box; background: white; *zoom: 1; }
.sub-nav:before, .sub-nav:after { content: ""; display: table; }
.sub-nav:after { clear: both; }
.sub-nav ul { *zoom: 1; float: left; width: 338px; }
.sub-nav ul:before, .sub-nav ul:after { content: ""; display: table; }
.sub-nav ul:after { clear: both; }

.sub-nav_main { background: white url(../img/sub-nav-bg.png) 98% 0 no-repeat; }

.sub-nav__item { position: relative; float: left; text-align: center; padding: 0 8px; }
.sub-nav__item a { position: relative; display: block; height: 53px; padding: 0 22px; line-height: 53px; text-align: center; font-size: 14px; color: #526871; -moz-box-sizing: border-box; box-sizing: border-box; text-transform: uppercase; z-index: 2; }
.sub-nav__item a:hover { text-decoration: none; border-bottom: 5px solid #c6d6db; }
.sub-nav__item .fon1 { display: none; position: absolute; top: 0; bottom: 50%; left: 0; right: 50%; background: #e53535; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e83838), color-stop(100%, #e13131)); background: -webkit-linear-gradient(top, #e83838 0%, #e13131 100%); background: -moz-linear-gradient(top, #e83838 0%, #e13131 100%); background: -o-linear-gradient(top, #e83838 0%, #e13131 100%); background: linear-gradient(top, #e83838 0%, #e13131 100%); z-index: 1; }
.sub-nav__item .fon1:after { content: ""; position: absolute; top: 100%; left: 0; right: 0; height: 26px; background: #e53535; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e13131), color-stop(60%, #d02222), color-stop(100%, #da2b2b)); background: -webkit-linear-gradient(top, #e13131 0%, #d02222 60%, #da2b2b 100%); background: -moz-linear-gradient(top, #e13131 0%, #d02222 60%, #da2b2b 100%); background: -o-linear-gradient(top, #e13131 0%, #d02222 60%, #da2b2b 100%); background: linear-gradient(top, #e13131 0%, #d02222 60%, #da2b2b 100%); }
.sub-nav__item .fon2 { display: none; position: absolute; top: 0; bottom: 50%; right: 0; left: 50%; background: #e53535; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b60b0b), color-stop(100%, #bf1313)); background: -webkit-linear-gradient(top, #b60b0b 0%, #bf1313 100%); background: -moz-linear-gradient(top, #b60b0b 0%, #bf1313 100%); background: -o-linear-gradient(top, #b60b0b 0%, #bf1313 100%); background: linear-gradient(top, #b60b0b 0%, #bf1313 100%); z-index: 1; }
.sub-nav__item .fon2:after { content: ""; position: absolute; top: 100%; right: 0; left: 0; height: 26px; background: #e53535; background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bf1313), color-stop(60%, #d02222), color-stop(100%, #da2b2b)); background: -webkit-linear-gradient(top, #bf1313 0%, #d02222 60%, #da2b2b 100%); background: -moz-linear-gradient(top, #bf1313 0%, #d02222 60%, #da2b2b 100%); background: -o-linear-gradient(top, #bf1313 0%, #d02222 60%, #da2b2b 100%); background: linear-gradient(top, #bf1313 0%, #d02222 60%, #da2b2b 100%); }

.sub-nav__item.is-active { background: #e53535; }
.sub-nav__item.is-active a { color: white; }
.sub-nav__item.is-active .fon1, .sub-nav__item.is-active .fon2 { display: block; }
.sub-nav__item.is-active:after { content: ""; position: absolute; bottom: -3px; left: 0; right: 0; height: 3px; background: url(../img/triangle-red-small.png) 0 0 repeat-x; }
.sub-nav__item.is-active:hover a { border-bottom: none; }

.sub-nav__main { width: 102px; }

.sub-nav__tvir { width: 84px; }

.sub-nav__biography { width: 104px; }

.footer { position: relative; height: 205px; background: #737a84; z-index: 10; }

.footer__content { *zoom: 1; }
.footer__content:before, .footer__content:after { content: ""; display: table; }
.footer__content:after { clear: both; }

.footer__right { float: right; width: 379px; padding-top: 32px; }

.footer-nav { margin-bottom: 40px; }
.footer-nav ul { *zoom: 1; }
.footer-nav ul:before, .footer-nav ul:after { content: ""; display: table; }
.footer-nav ul:after { clear: both; }

.footer-nav__item { float: right; margin-right: 18px; }
.footer-nav__item:first-child { margin-right: 0; }
.footer-nav__item a { color: white; text-transform: uppercase; }
.footer-nav__item a:hover { color: white; }

.footer__net { *zoom: 1; }
.footer__net:before, .footer__net:after { content: ""; display: table; }
.footer__net:after { clear: both; }

.footer__socials { float: right; margin-left: 24px; *zoom: 1; }
.footer__socials:before, .footer__socials:after { content: ""; display: table; }
.footer__socials:after { clear: both; }
.footer__socials li { float: left; margin-left: 8px; }

.vk { display: block; background: url('../img/icons-sda1ba12585.png') 0 -232px no-repeat; width: 32px; height: 32px; }

.f { display: block; background: url('../img/icons-sda1ba12585.png') 0 -274px no-repeat; width: 32px; height: 32px; }

.tw { display: block; background: url('../img/icons-sda1ba12585.png') 0 -155px no-repeat; width: 32px; height: 32px; }

.gp { display: block; background: url('../img/icons-sda1ba12585.png') 0 -73px no-repeat; width: 32px; height: 32px; }

.counter { float: right; }

.footer__bot { *zoom: 1; margin-top: 32px; padding: 0 15px; }
.footer__bot:before, .footer__bot:after { content: ""; display: table; }
.footer__bot:after { clear: both; }

.copyrights { float: left; margin-top: 9px; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; color: white; font-family: "Arial", sans-serif; font-size: 10px; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7); }

.footer__bot span { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; color: white; font-family: "Arial", sans-serif; font-size: 10px; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.7); vertical-align: middle; }
.footer__bot i { display: inline-block; margin-left: 10px; vertical-align: middle; }

.designer { float: right; margin-left: 32px; }

.apostol { background: url('../img/icons-sda1ba12585.png') 0 -40px no-repeat; width: 71px; height: 23px; }

.back-end { float: right; }

.prog { background: url('../img/icons-sda1ba12585.png') 0 0 no-repeat; width: 130px; height: 30px; }

.sidebar-left { float: left; width: 250px; margin: 0 0 32px 0; }
.sidebar-left .h2 { margin-bottom: 12px; }

.wrapper { width: 678px; float: right; }

.main { float: left; width: 446px; }

.sidebar-right { float: right; width: 200px; margin: 0 0 32px 0; }

.filter { padding: 12px 15px; margin-bottom: 8px; background: #eef6f8; }

.filter__title { margin-bottom: 24px; line-height: 27px; padding: 0 15px; font-weight: bold; color: #2e3847; text-transform: uppercase; background: white; }

.filter__symbols { width: 216px; }
.filter__symbols td { width: 24px; height: 24px; text-align: center; }
.filter__symbols td a { display: block; height: 24px; font-size: 19px; text-transform: uppercase; color: #0072a1; }
.filter__symbols td a:hover { color: white; text-decoration: none; background: #e94444; }

.filter__language, .filter__age, .filter__school, .filter__year, .filter__genre { padding-left: 16px; }
.filter__language a, .filter__age a, .filter__school a, .filter__year a, .filter__genre a { font-size: 19px; color: #0072a1; }
.filter__language a:hover, .filter__age a:hover, .filter__school a:hover, .filter__year a:hover, .filter__genre a:hover { color: #d02222; text-decoration: underline; }

.filter__school { *zoom: 1; }
.filter__school:before, .filter__school:after { content: ""; display: table; }
.filter__school:after { clear: both; }
.filter__school li { float: left; width: 50%; }

.filter__year { *zoom: 1; margin-left: -10px; }
.filter__year:before, .filter__year:after { content: ""; display: table; }
.filter__year:after { clear: both; }
.filter__year li { float: left; margin-left: 9px; }
.filter__year li a { letter-spacing: 1px; }

.filter__sub-genre { margin: 8px 0 20px; }
.filter__sub-genre a { font-size: 15px; }

.filer__inner-genre { margin: 0 0 5px 8px; }
.filer__inner-genre a { font-size: 12px; }

.sidebar__alert { font-size: 12px; color: #abaeb2; margin: 20px; padding: 0 24px; }

.authers__topper { *zoom: 1; }
.authers__topper:before, .authers__topper:after { content: ""; display: table; }
.authers__topper:after { clear: both; }
.authers__topper .h2 { float: left; margin-bottom: 16px; }

.sort-by { float: left; font-size: 0; padding-top: 1px; margin: 9px 0 0 20px; }
.sort-by .sort-by__text { font-size: 12px; color: #abaeb2; line-height: 22px; }
.sort-by a { display: inline-block; height: 20px; line-height: 20px; padding: 0 4px; margin-left: 10px; font-size: 12px; color: #0072a1; vertical-align: top; }
.sort-by a:hover { text-decoration: none; }
.sort-by a span { line-height: 1; border-bottom: 1px dotted; }
.sort-by a:hover { position: relative; top: 0px; color: #2e3847; margin: -1px -1px -1px 9px; border: 1px solid #c6d6db; }
.sort-by a:hover span { border: none; }
.sort-by a.is-active { position: relative; top: 0px; color: #2e3847; margin: -1px -1px -1px 9px; border: 1px solid #c6d6db; }
.sort-by a.is-active span { border: none; }

.alphabet { width: 431px; clear: both; height: 32px; padding: 0 8px; margin-bottom: 18px; background: #f7f7ee; -webkit-box-shadow: inset 0 1px 0px #f1f3e2; -moz-box-shadow: inset 0 1px 0px #f1f3e2; box-shadow: inset 0 1px 0px #f1f3e2; text-align: justify; line-height: 0; text-justify: newspaper; zoom: 1; text-align-last: justify; }
.alphabet:after { content: ""; width: 100%; height: 0px; visibility: hidden; overflow: hidden; display: inline-block; }
.alphabet li { display: inline-block; text-align: center; line-height: normal; }
.alphabet a { display: inline-block; padding: 8px 0px; text-transform: uppercase; font-size: 12px; color: #0072a1; }
.alphabet a:hover { color: #d02222; }

.l-list { position: relative; margin-bottom: 100px; }
.l-list .list__border-none { position: absolute; bottom: 0px; width: 100%; height: 1px; background: white; }

.list__item { border-bottom: 1px solid #c6d6db; margin-bottom: 14px; }

.author-list li { margin-bottom: 15px; *zoom: 1; }
.author-list li:before, .author-list li:after { content: ""; display: table; }
.author-list li:after { clear: both; }
.author-list li a { font-size: 17px; }

.author-list__left { float: left; }
.author-list__left p { font-size: 14px; letter-spacing: 1px; color: #aabfc8; }

.author-list__right { float: right; }

.list__title { width: 29px; height: 29px; line-height: 29px; margin-bottom: 15px; text-align: center; background: #737a84; font-size: 18px; font-weight: bold; color: white; }

.author-list__number { padding-right: 5px; font-size: 17px; color: #526871; }

.partners { clear: both; margin-bottom: 36px; text-align: center; font-size: 12px; color: #aabfc8; }
.partners a { font-size: 12px; color: #aabfc8; }
.partners a:hover { text-decoration: underline; }

.biography__topper, .work__topper { position: relative; padding-bottom: 10px; margin-bottom: 32px; background: url(../img/author-bg.png) 0% 100% repeat-x; }
.biography__topper .h3, .work__topper .h3 { display: inline-block; padding-left: 10px; }
.biography__topper .all-authors, .work__topper .all-authors { position: absolute; top: 14px; right: 0px; color: #0072a1; }
.biography__topper .all-authors:hover, .work__topper .all-authors:hover { color: #d02222; text-decoration: underline; }

.biography__years { position: relative; top: -1px; color: #b2b4b8; font-size: 19px; }

.biography__content { *zoom: 1; }
.biography__content:before, .biography__content:after { content: ""; display: table; }
.biography__content:after { clear: both; }

.biography__photo { float: left; margin: 0 32px 32px 5px; background: white; -webkit-box-shadow: 0 0 5px rgba(150, 173, 188, 0.75); -moz-box-shadow: 0 0 5px rgba(150, 173, 188, 0.75); box-shadow: 0 0 5px rgba(150, 173, 188, 0.75); -moz-box-sizing: border-box; box-sizing: border-box; font-size: 0; padding: 8px; }
.biography__photo img { width: 100%; height: auto; }

.biography__text { float: left; width: 499px; }
.biography__text p { margin-bottom: 24px; }

.tabs { height: 45px; margin-bottom: 32px; background: #eef6f8; -moz-box-sizing: border-box; box-sizing: border-box; padding: 8px 8px 0; *zoom: 1; }
.tabs:before, .tabs:after { content: ""; display: table; }
.tabs:after { clear: both; }
.tabs li { float: left; padding: 0 24px; text-align: center; }
.tabs li a { display: inline-block; line-height: 37px; }
.tabs li a:hover { text-decoration: none; }
.tabs li.is-active { background: white; }
.tabs li.is-active a { font-weight: bold; color: #2e3847; }

.work-filters { height: 45px; -moz-box-sizing: border-box; box-sizing: border-box; padding: 8px 0; margin-bottom: 32px; border-top: 1px solid #c6d6db; border-bottom: 1px solid #c6d6db; *zoom: 1; }
.work-filters:before, .work-filters:after { content: ""; display: table; }
.work-filters:after { clear: both; }

.works__title { color: #2e3847; text-transform: uppercase; font-weight: bold; margin-bottom: 24px; }

.works-list { margin-bottom: 40px; }

.works-list__item a { font-size: 16px; }
.works-list__item span { font-size: 13px; color: #969ba3; }

.sub-work-list { padding-left: 36px; margin-top: 36px; }

.work-item__author { display: block; font-size: 24px; }

.work-item__link { display: block; }

.work__topper { margin-bottom: 5px; }

.work-item__title { margin-bottom: 24px; }

.download { float: left; font-size: 13px; padding-top: 5px; }

.download__title { color: #2e3847; }

.weight { color: #c4c5c8; }

.download__link { display: inline-block; margin-left: 16px; }

.font-size { float: right; font-size: 0; }
.font-size a { display: inline-block; vertical-align: top; height: 27px; line-height: 27px; text-align: center; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0 6px; }
.font-size a:hover { -webkit-box-shadow: 0px 0px 0px 1px #c6d6db; -moz-box-shadow: 0px 0px 0px 1px #c6d6db; box-shadow: 0px 0px 0px 1px #c6d6db; color: #0072a1; text-decoration: none; }
.font-size a.is-active { -webkit-box-shadow: 0px 0px 0px 1px #c6d6db; -moz-box-shadow: 0px 0px 0px 1px #c6d6db; box-shadow: 0px 0px 0px 1px #c6d6db; color: #0072a1; text-decoration: none; }
.font-size .font-size__small { font-size: 14px; }
.font-size .font-size__normal { font-size: 18px; }
.font-size .font-size__big { font-size: 20px; }

.work__text { font-family: Calibri, Arial, Tahoma, sans-serif; }
.work__text p { margin-bottom: 24px; }

.tnr-switch .tvir { font-family: Times New Roman, Calibri, Arial, sans-serif; }

.arial-switch .tvir { font-family: Arial, Times New Roman, Calibri, sans-serif; }

.calibri-switch .tvir { font-family: Calibri, Arial, Times New Roman, sans-serif; }

.work__share { margin-bottom: 32px; }

.work__info { margin-bottom: 42px; font-size: 15px; color: #b8babd; }

.l-dictionary-search { position: relative; top: 13px; clear: both; height: 34px; }

.dictionary-search { *zoom: 1; -moz-box-sizing: border-box; box-sizing: border-box; background: white; }
.dictionary-search:before, .dictionary-search:after { content: ""; display: table; }
.dictionary-search:after { clear: both; }

.input-search { float: left; width: 562px; height: 34px; line-height: 34px; padding: 0 12px; -moz-box-sizing: border-box; box-sizing: border-box; font: 15px Calibri, Arial, sans-serif; border: 2px solid #c6d6db; border-right: none; }
.input-search.placeholder { color: #c6d6db; }
.input-search:-moz-placeholder { color: #c6d6db; }
.input-search::-webkit-input-placeholder { color: #c6d6db; }

.auto-fit { position: relative; float: left; width: 560px; height: 30px; border: 2px solid #c6d6db; border-right: none; vertical-align: top; }
.auto-fit input[type="text"] { width: 490px; height: 20px; line-height: 30px; padding: 5px 12px; font: 15px Calibri, Arial, sans-serif; }
.auto-fit input[type="text"].placeholder { color: #c6d6db; }
.auto-fit input[type="text"]:-moz-placeholder { color: #c6d6db; }
.auto-fit input[type="text"]::-webkit-input-placeholder { color: #c6d6db; }

.auto-fit__counter { display: inline-block; height: 30px; line-height: 30px; vertical-align: top; }

.auto-fit__dropdown { display: none; position: absolute; top: 30px; left: -2px; width: 564px; -moz-box-sizing: border-box; box-sizing: border-box; border: 2px solid #c6d6db; border-top: 2px solid #eef6f8; background: white; }

.auto-fit__item { padding: 6px 12px; cursor: pointer; }
.auto-fit__item:hover { background: #d62828; color: white; }

.auto-fit__item.is-active .auto-fit__right { display: block; }

.l-select { position: relative; float: left; width: 294px; height: 30px; margin: 0; border: 2px solid #c6d6db; background: #eef6f8; }
.l-select .select { width: 100%; border: none; height: 30px; }
.l-select .select:after { top: 12px; }
.l-select .select__value { *zoom: 1; height: 30px; }
.l-select .select__value:before, .l-select .select__value:after { content: ""; display: table; }
.l-select .select__value:after { clear: both; }
.l-select .select__value-left { float: left; width: 185px; line-height: 30px; color: #526871; }
.l-select .select__value-left .select__value-text { font-size: 11px; }
.l-select .select__value-left .select__value-title { font-size: 15px; text-transform: uppercase; }
.l-select .select__value-right { float: right; height: 30px; line-height: 30px; padding-right: 32px; color: #2e3847; }
.l-select .select__dropdown { width: 298px; -moz-box-sizing: border-box; box-sizing: border-box; }
.l-select .select__dropdown li { *zoom: 1; }
.l-select .select__dropdown li:before, .l-select .select__dropdown li:after { content: ""; display: table; }
.l-select .select__dropdown li:after { clear: both; }

.slovnik, .author, .work { width: 728px; }

.slovnik__topper { margin-bottom: 40px; }
.slovnik__topper .h2 { display: block; padding-bottom: 10px; margin-bottom: 14px; background: url(../img/slovnik-bg.png) 0 100% repeat-x; }
.slovnik__topper p { font-size: 11px; color: #2e3847; }

.slovnik__letters { *zoom: 1; padding-bottom: 36px; border-bottom: 1px solid #c6d6db; margin-bottom: 16px; }
.slovnik__letters:before, .slovnik__letters:after { content: ""; display: table; }
.slovnik__letters:after { clear: both; }

.slovnik__letters_mod { border: none; }

.letters { float: left; width: 54px; margin: 4px; }

.letters__item { position: relative; z-index: 2; font-size: 0; border-right: 1px solid #c6d6db; }
.letters__item:hover .letter p { background: #d62828; }
.letters__item:hover .letters__dropdown { display: block; -webkit-box-shadow: 0px 0px 3px 1px #c6d6db; -moz-box-shadow: 0px 0px 3px 1px #c6d6db; box-shadow: 0px 0px 3px 1px #c6d6db; }
.letters__item:first-child .letter { padding: 0px 8px 8px; }
.letters__item:first-child .letters__dropdown { top: -8px; }

.letter { position: relative; display: inline-block; padding: 8px; cursor: pointer; z-index: 3; }
.letter p { width: 29px; height: 29px; line-height: 29px; color: white; font-size: 18px; font-weight: bold; background: #737a84; text-align: center; }

.letters__dropdown { display: none; position: absolute; top: 0; bottom: 0; left: 0; height: 45px; -moz-box-sizing: border-box; box-sizing: border-box; width: 610px; padding: 8px 32px 8px 80px; background: white; z-index: 2; }
.letters__dropdown ul { font-size: 0; }
.letters__dropdown ul li { display: inline-block; }
.letters__dropdown ul li a { display: block; height: 29px; line-height: 29px; padding: 0 4px; font-size: 14px; }
.letters__dropdown ul li a:hover { background: #d62828; color: white; text-decoration: none; }

.word-list { float: left; width: 602px; padding: 0 32px; }
.word-list .word-list__item { margin-bottom: 3px; }

.word-list__inner { *zoom: 1; }
.word-list__inner:before, .word-list__inner:after { content: ""; display: table; }
.word-list__inner:after { clear: both; }
.word-list__inner li { float: left; height: 45px; }
.word-list__inner li a { display: block; height: 45px; line-height: 45px; padding: 0 4px; }

.slovnik .socials { margin-bottom: 72px; }

.about { margin-bottom: 100px; }

.about__title { font-size: 25px; color: #2e3847; text-transform: uppercase; padding-bottom: 8px; margin-bottom: 8px; border-bottom: 1px solid #c6d6db; }

.about__text { color: #2e3847; font: 12px Arial, sans-serif; }
.about__text p { margin-bottom: 16px; }

.dictionary-sel { width: 180px; padding: 10px; background: #eef6f8; margin-bottom: 8px; }
.dictionary-sel a { display: block; padding: 6px 4px; *zoom: 1; }
.dictionary-sel a:before, .dictionary-sel a:after { content: ""; display: table; }
.dictionary-sel a:after { clear: both; }
.dictionary-sel a .dictionary-sel__left { float: left; width: 70%; }
.dictionary-sel a .dictionary-sel__right { float: right; width: 30%; text-align: right; font-size: 12px; color: #526871; }
.dictionary-sel a:hover { background: #d62828; text-decoration: none; color: white; }
.dictionary-sel a:hover .dictionary-sel__right { color: white; }

.keyword { padding: 0 0 10px 10px; margin-bottom: 14px; text-transform: uppercase; color: #2e3847; font-size: 36px; background: url(../img/slovnik-bg.png) 0 100% repeat-x; }

.words-sel { background: #eef6f8; margin-bottom: 8px; padding: 10px; }
.words-sel ul { font-size: 0; }
.words-sel ul li { display: inline-block; vertical-align: top; }
.words-sel ul li a { display: block; height: 27px; line-height: 27px; font-size: 14px; padding: 0 4px; }
.words-sel ul li a:hover { background: #d62828; color: white; text-decoration: none; }

.words-sel_long ul li { display: block; }

.word__description { margin-bottom: 32px; padding-bottom: 16px; border-bottom: 1px solid #c6d6db; font: 12px Arial, sans-serif; }
.word__description p { margin-bottom: 16px; }

.ie8 .logo__descr { font-size: 9px; }
.ie8 .letters__item:hover .letters__dropdown { border: 1px solid #cccccc; }

/* IE 7 Only */
*:first-child + html .alphabet li { display: inline; }
*:first-child + html .sub-nav__item a:hover { height: 48px; }
*:first-child + html .sub-nav__item.is-active a:hover { height: 53px; }
*:first-child + html .btn-search { width: 100px; }
*:first-child + html .btn-search span { line-height: 31px; }
*:first-child + html .letters__dropdown { background: #eef6f8; }
*:first-child + html .letters__dropdown li { display: inline; }
