@import "base"
* 
	margin: 0
	padding: 0
	-webkit-text-size-adjust: none
html, body 
	height: 100%
body
	min-width: 999px
	font-family: Calibri, Arial, Tahoma, sans-serif
	font-weight: normal 
	font-size: 14px
	line-height: 1.2
	//-webkit-transform: translate3d(0,0,0);
	//-webkit-backface-visibility: hidden;
// resets
a img, fieldset 
	border: none
a
	color: #0072a1 
	text-decoration: none
	&:hover
		color: #d02222
		text-decoration: underline
p
	line-height: 1.2
li 
	list-style: none
textarea, button, select, input
	border: none
	outline: none
	font-family: Cambria, Colibri, Arial, Tahoma, sans-serif
button 
	line-height: 1
	cursor: pointer
	&::-moz-focus-inner
		padding: 0
		border: 0
table 
	border-spacing: 0
	border-collapse: collapse
// common styles
.page
	overflow-x: hidden
	min-height: 100%
	height: auto !important
	height: 100%
	margin: 0 auto -205px
.container
	position: relative
	width: 960px
	margin: 64px auto 0
	+clr
	+rt(1177)
		margin: 64px 0 0 100px
	+rt(1060)
		margin: 64px 0 0 39px 
.push
	height: 205px
	clear: both
.h2
	font: 31px 'Philosopher', sans-serif
	color: #526871
.h3
	font-size: 29px 
	color: #2e3847
	font-weight: normal	
// select
.select-wrap
	position: relative
	float: right
	+clr
	margin-left: 24px
	font-size: 0
	vertical-align: middle 
	.select__dropdown
		border: 1px solid #c6d6db
		border-top: 1px solid #EBEDEE
		width: 126px
		top: 26px
		right: 0 	
.select__title
	float: left
	color: #abaeb2
	margin-right: 9px 
	font-size: 15px
	line-height: 27px   						
.select
	position: relative
	float: left
	width: 128px 
	height: 27px 
	+box
	+no-sel
	border: 1px solid #c6d6db
	cursor: pointer
	&:after
		content: ""
		position: absolute
		top: 9px
		right: 8px
		+s(select)			
.select__value
	padding: 0 8px
	line-height: 25px
	color: #2e3847
	font-size: 15px
	white-space: nowrap
	text-overflow: ellipsis
	overflow: hidden
	.select__value-title
		line-height: 30px 
		white-space: nowrap
		text-overflow: ellipsis
		overflow: hidden
	.select__value-text
		display: none 
.select__dropdown
	position: absolute
	top: 30px
	right: -2px
	width: 128px
	background: #fff
	border: 2px solid #c6d6db
	border-top: none  
	li
		+box
		padding: 5px 10px 
		color: #2e3847
		font-size: 14px 
		cursor: pointer
		&:hover
			background: #eef6f8 
// scroll-top
.scroll-top
	display: none
	position: fixed
	top: 0px
	bottom: 0px
	left: 0px
	cursor: pointer
	&:hover
		.scroll-top__bg
			background: #ebf7ff 
.scroll-top.is-active
	display: block	 
.scroll-top__bg
	width: 100px
	height: 100%
	text-align: center
	padding-top: 25px 
	+trans(background 200ms)
	span
		display: inline-block
		color: #aabfc8
	+rt(1060)
		width: 39px 	
	.arrow
		position: relative
		display: block
		width: 37px
		height: 37px
		margin: 0 auto 10px
		+box
		background: #fff
		border: 1px solid #dddedf
		+border-radius(50%)
		&:after
			content: ""
			position: absolute
			top: 12px 
			left: 9px
			+s(arr-top)   	    			
.scroll-top__inner
	width: 100%
	height: 100%  

// search
.search
	float: right
	width: 600px 
	margin: 9px 10px 0 0
	font-size: 0  
	input
		width: 464px 
		height: 20px
		vertical-align: top
		padding: 5px 16px 
		border: 2px solid #c6d6db
		font: 15px Calibri, sans-serif 
		+placeholder(#c6d6db) 
.btn-search
	position: relative
	width: 100px
	height: 34px  
	vertical-align: top
	padding: 0 20px 0 12px 
	background: #e94444
	font-size: 0 
	color: #fff
	text-transform: uppercase
	font: 12px Calibri, sans-serif
	+text-shadow(0 1px 0 #dd2525)
	+trans(background 300ms)
	.ico-search
		position: absolute
		top: 10px
		left: 13px
		+s(search)
	span
		margin-left: 20px 
		font-size: 12px
		line-height: 34px
	&:hover
		background: darken(#e94444, 5%)	  

	

// pagination
.pagination
	height: 32px
	margin-bottom: 32px
	padding: 0 12px   
	background: #f7f7ee
	+box-shadow(inset 0 1px 0px #f1f3e2)
	+clr
.pagination__prev
	float: left
	line-height: 32px
	padding: 0 5px 
	&:hover
		background: #737a84
		color: #fff
		text-decoration: none 	
.pagination__next
	float: right
	line-height: 32px
	padding: 0 5px
	&:hover
		background: #737a84
		color: #fff
		text-decoration: none 
.pagination__pages
	+clr
	float: left
	height: 32px
	margin-left: 60px  
	li
		float: left
		line-height: 32px
		min-width: 29px
		text-align: center 
		a
			display: block
			height: 32px
			padding: 0 11px 
			line-height: 32px
		&:hover
			a
				font-weight: bold
				background: #737a84
				color: #fff
				text-decoration: none	
	li.is-active
		a
			font-weight: bold
			color: #fff
			background: #737a84 	
.pagination__custom-page
	float: left
	height: 17px
	width: 34px
	margin: 5px 0 0 10px 
	padding: 2px 4px
	text-align: center 
	border: 1px solid #c6d6db
	font-family: Calibri, Arial, Tahoma, sans-serif
	background: #fff  		

		
//header
.header
	position: relative
	height: 189px 
	border-bottom: 1px solid #ced9e0
	+box-shadow(0 1px 10px rgba(150,173,188,.35))
	z-index: 99
	&:before
		content: ""
		position: absolute
		bottom: -3px
		left: 0px
		right: 0px
		width: 100%
		height: 1px
		background: #ced9e0
	&:after
		content: ""
		position: absolute
		bottom: -5px
		right: 0px
		left: 0px
		width: 100%
		height: 1px
		background: #ced9e0
.cat
	position: absolute
	top: 50px
	right: -245px			    
.header__topper
	background: #2e3847
	height: 35px
	padding-top: 5px
	+box
.header__inner, .footer__inner
	position: relative
	width: 960px
	margin: 0 auto
	+clr
	+rt(1177)
		margin: 0 0 0 100px
	+rt(1060)
		margin: 0 0 0 39px	
.footer__inner
	height: 205px 
	background: url(../img/footer-bg.png) 37% 0 no-repeat
	+rt(1177)
		padding-right: 10px
		+box  		     
.nav
	float: left
	ul
		+clr
.nav__item
	float: left
	position: relative
	height: 30px 
	a
		display: block
		height: 30px
		padding: 6px 20px 0
		+box  
		font-size: 12px
		color: #fff
		text-transform: uppercase
		background: url(../img/nav-border.png) 0px 9px no-repeat 
		&:hover
			text-decoration: none
	&:first-child
		a
			background: none 		
	&:hover
		a
			color: #86d3e9
.nav__item.is-active
	position: relative
	z-index: 2
	background: #FFF
	//+box-shadow(3px 0 0 #fff)
	border-right: 3px solid #fff
	margin-right: -3px
	a
		color: #526871
		padding: 6px 17px 0 20px
		span
			position: relative
			&:after
				content: ""
				position: absolute
				left: 0
				right: 0
				bottom: -5px
				height: 2px
				background: url(../img/menu-border-img.png) 0 0 repeat-x
.login
	float: right
	height: 30px
	padding-top: 4px
	+box
	+rt(1177)
		padding-right: 10px  
	a
		display: inline-block
		position: relative
		font-size: 12px 
		color: #fff
		&:hover
			color: #fff
		&:before
			content: ""
			position: absolute
			top: 0
			left: -20px
			+s(lock)	
.header__content
	position: relative
	z-index: 2
	margin-bottom: -28px
	.header__inner
		background: url(../img/header-bg.png) 26% 0% no-repeat
		padding-bottom: 13px   
.logo
	float: left
	margin: 40px 0 24px 15px
	width: 220px 
	a
		display: block
		+box
		padding-left: 36px
		position: relative
		background: url(../img/logo.png) 0px 3px no-repeat 
		&:hover
			text-decoration: none
.logo__name
	font: 34px 'Philosopher', sans-serif
	color: #526871
	letter-spacing: -1px   
	span
		color: #ea1c1c
		b
			letter-spacing: 0 
			font-weight: normal
		
.logo__descr
	text-transform: uppercase
	font-size: 11px
	font-weight: normal
	color: #526871 	
.logo_footer
	a
		&:before
			+s(logo-small)
	.logo__name
		color: #fff
		
		span
			color: #fff
			
	.logo__descr
		color: #fff				
.header__banner
	float: right
	margin-top: 32px  
.sub-nav
	position: relative
	top: 5px
	clear: both
	border: 1px solid #c6d6db
	+box
	background: #fff
	+clr						   		 
	ul
		+clr
		float: left
		width: 338px
.sub-nav_main
	background: #fff url(../img/sub-nav-bg.png) 98% 0 no-repeat 
.sub-nav__item
	position: relative
	float: left
	text-align: center
	padding: 0 8px 
	a
		position: relative
		display: block
		height: 53px
		padding: 0 22px 
		line-height: 53px 
		text-align: center
		font-size: 14px
		color: #526871
		+box
		text-transform: uppercase
		z-index: 2
		&:hover
			text-decoration: none
			border-bottom: 5px solid #c6d6db		 
	.fon1
		display: none
		position: absolute
		top: 0
		bottom: 50%
		left: 0
		right: 50%
		background: #e53535
		+background(linear-gradient(top, #e83838 0%, #e13131 100%))
		z-index: 1
		&:after
			content: ""
			position: absolute
			top: 100%
			left: 0
			right: 0
			height: 26px
			background: #e53535
			+background(linear-gradient(top, #e13131 0%, #d02222 60%, #da2b2b 100%))  
	.fon2
		display: none
		position: absolute
		top: 0
		bottom: 50%
		right: 0
		left: 50%
		background: #e53535
		+background(linear-gradient(top, #b60b0b 0%, #bf1313 100%))
		z-index: 1
		&:after
			content: ""
			position: absolute
			top: 100%
			right: 0
			left: 0
			height: 26px
			background: #e53535
			+background(linear-gradient(top, #bf1313 0%, #d02222 60%, #da2b2b 100%))
.sub-nav__item.is-active
	background: #e53535 
	a
		color: #fff
	.fon1, .fon2
		display: block	
	&:after
		content: ""
		position: absolute
		bottom: -3px
		left: 0
		right: 0
		height: 3px
		background: url(../img/triangle-red-small.png) 0 0 repeat-x
	&:hover
		a
			border-bottom: none 	 
.sub-nav__main
	width: 102px 
.sub-nav__tvir
	width: 84px
.sub-nav__biography
	width: 104px 			

// footer
.footer
	position: relative
	height: 205px
	background: #737a84
	z-index: 10
.footer__content
	+clr
.footer__right
	float: right
	width: 379px 
	padding-top: 32px 	
.footer-nav
	margin-bottom: 40px 
	ul
		+clr
.footer-nav__item
	float: right
	margin-right: 18px
	&:first-child
		margin-right: 0 
	a
		color: #fff
		text-transform: uppercase
		&:hover
			color: #fff 
.footer__net
	+clr
.footer__socials
	float: right
	margin-left: 24px 
	+clr
	li
		float: left
		margin-left: 8px 
.vk
	display: block
	+s(vk)
.f
	display: block
	+s(f)
.tw
	display: block
	+s(tw)
.gp
	display: block
	+s(gp)						
.counter
	float: right
.footer__bot
	+clr
	margin-top: 32px
	padding: 0 15px  	
.copyrights
	float: left
	+opacity(.5)
	color: #fff
	font-family: "Arial", sans-serif
	font-size: 10px
	+text-shadow(0 1px 0 rgba(0,0,0,.7))
.footer__bot
	span
		+opacity(.5)
		color: #fff
		font-family: "Arial", sans-serif
		font-size: 10px
		+text-shadow(0 1px 0 rgba(0,0,0,.7))
		vertical-align: middle
	i
		display: inline-block
		margin-left: 10px 
		vertical-align: middle		
.designer
	float: right
	margin-left: 32px 
.apostol
	+s(apostol)
.back-end
	float: right
.prog
	+s(prog)	
